h1,h2{
	color: #00F4A7;
}
h1,h2,h3,h5,h6{
	text-transform: uppercase;
	margin-bottom: 0px;
}
.big-text{
	font-size: 18px;
	line-height: 1.5;
}
.nor-text,.big-text{
	color: #fff ;
}
a.btn, button{
	text-transform: uppercase;
	transition: 0.7s all;
}
a{
	transition: 0.5s all;
}
.btn-secondary, .btn-outline-secondary:hover{
	color: #fff !important;
}
hr{
	margin: 0px;
	border-top: 2px solid rgba(0,244,167,1);
}

.card:hover img{
	transform: scale(1.2);
}
.card img{
	display: block;
	transition: 0.7s all;
}
.card {
	overflow: hidden;
	border: none;
	border-radius: 10px;
}


/*MARGIN*/
.mb-120{
	margin-bottom: 120px;
}
.mt-60{
	margin-top: 60px;
}
.mb-60{
	margin-bottom: 60px;
}
.mt-120{
	margin-top: 120px;
}
.mt-180{
	margin-top: 180px;
}


/*HEADER*/
.header {
	background: #333;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1000;
	box-shadow: 1px 1px 5px #000;
}
.header .container-fluid{
	padding: 0px !important;
}
a.nav-link{
	text-transform: uppercase;
	padding: 18px 12px !important;
	font-weight: 700;
}
a.nav-link.active {
	color: #00F4A7 !important;
}
a.nav-link:hover {
	color: #00F4A7 !important;
}


/*NAVBAR*/
.img-item{
	overflow: hidden;
}
.img-item img{
	display: block;
	transition: 0.5s all;
}
.img-item:hover img{
	transform: scale(1.2);
}

.breadcrumb{
	background: #fff;
}
.breadcrumb-item.active{
	color:#00C073 ;
}
.breadcrumb a:hover{
	color:#00C073;
}
.breadcrumb li{
	font-size: 18px !important;
	line-height: 1.5 !important;
	font-weight: 600;
	text-transform: uppercase;
}

/*TEXTBOX*/
.text-box{
	padding: 48px;
	border: 1px solid #00F4A7;
	border-radius: 20px;
}





/*WORK*/
.work a:hover{
	color: #3F82F2;
}
.work-ex h5{
	color: #0046FF;
}
.social{
	font-size: 25px !important;
}

/*HOBBY*/
.exp-content{
	padding-top:30% ;
	background: rgba(0, 0, 0, 50%);
	position: absolute;
	bottom: 0px;
	left: 0px;
	top: 100%;
	right: 0px;
	transition: 0.5s ease-in all;
}
a.exp-thumb{
	position: relative;
	overflow: hidden;
}
a.exp-thumb:hover .exp-content{
	top: 0px;
}

.exp-thumb h3{
	text-transform: uppercase;
	color: #fff;
}


/*HOBBY*/
.hob-content{
	padding-top:40% ;
	background: rgba(0, 0, 0, 50%);
	position: absolute;
	bottom: 0px;
	left: 0px;
	top: 100%;
	right: 0px;
	transition: 0.5s ease-in all;
}
a.hob-thumb{
	position: relative;
	overflow: hidden;
}
a.hob-thumb:hover .hob-content{
	top:0px;
}


/*FOOTER*/
.footer{
	background: #333;
	color: #fff;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	padding: 48px 0px;
	box-shadow: 1px 3px 5px #333;
}
.footer-text{
	color: #ccc;
}
.footer h6 {
	text-transform: uppercase;
	color: #00F4A7;
}
.social{
	font-size: 20px;
}


/*COPYRIGHT*/
.copyright{
	background:#666 ;
	padding: 8px 0px;
	color: #fff;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
}